# 1. Import the necessary libraries if you are starting a new notebook. 
Using the same data as the previous lab: we_fn_use_c_marketing_customer_value_analysis.csv

In [1]:
import  numpy as np
import pandas as pd
import time
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
customer_df = pd.read_csv('./files_for_lab/we_fn_use_c_marketing_customer_value_analysis.csv')
customer_df.shape

(9134, 24)

In [3]:
# Converting to snakecase again
cols = []
for column in customer_df.columns:
    cols.append(column.lower())
customer_df.columns = cols
cols = []
for column in customer_df.columns:
    cols.append(column.replace(' ','_'))
customer_df.columns = cols

customer_df.columns

Index(['customer', 'state', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'effective_to_date', 'employmentstatus', 'gender',
       'income', 'location_code', 'marital_status', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies', 'policy_type',
       'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount',
       'vehicle_class', 'vehicle_size'],
      dtype='object')

# 2. Find all of the categorical data. 
Save it in a categorical_df variable.

In [4]:
customer_df.head(1)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize

In [5]:
categorical_df = customer_df.select_dtypes(include = object)
categorical_df.columns

Index(['customer', 'state', 'response', 'coverage', 'education',
       'effective_to_date', 'employmentstatus', 'gender', 'location_code',
       'marital_status', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'vehicle_class', 'vehicle_size'],
      dtype='object')

# 3. Check for NaN values.

In [6]:
# There are no NaN values in our dataset
categorical_df.isna().sum()

customer             0
state                0
response             0
coverage             0
education            0
effective_to_date    0
employmentstatus     0
gender               0
location_code        0
marital_status       0
policy_type          0
policy               0
renew_offer_type     0
sales_channel        0
vehicle_class        0
vehicle_size         0
dtype: int64

# 4. Check all unique values of columns.

In [7]:
for c in categorical_df.columns:
    print(c)
    display(categorical_df[c].unique())

customer

array(['BU79786', 'QZ44356', 'AI49188', ..., 'TD14365', 'UP19263',
       'Y167826'], dtype=object)

state

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon'],
      dtype=object)

response

array(['No', 'Yes'], dtype=object)

coverage

array(['Basic', 'Extended', 'Premium'], dtype=object)

education

array(['Bachelor', 'College', 'Master', 'High School or Below', 'Doctor'],
      dtype=object)

effective_to_date

array(['2/24/11', '1/31/11', '2/19/11', '1/20/11', '2/3/11', '1/25/11',
       '1/18/11', '1/26/11', '2/17/11', '2/21/11', '1/6/11', '2/6/11',
       '1/10/11', '1/17/11', '1/5/11', '2/27/11', '1/14/11', '1/21/11',
       '2/5/11', '1/29/11', '2/28/11', '2/12/11', '2/2/11', '2/7/11',
       '1/22/11', '2/13/11', '1/15/11', '1/8/11', '1/11/11', '1/28/11',
       '2/8/11', '2/23/11', '1/2/11', '2/16/11', '1/27/11', '1/23/11',
       '1/9/11', '2/11/11', '2/4/11', '2/1/11', '2/15/11', '2/26/11',
       '1/16/11', '1/1/11', '2/10/11', '1/24/11', '2/25/11', '1/12/11',
       '2/9/11', '1/19/11', '1/4/11', '2/14/11', '2/20/11', '2/18/11',
       '1/3/11', '1/13/11', '1/30/11', '2/22/11', '1/7/11'], dtype=object)

employmentstatus

array(['Employed', 'Unemployed', 'Medical Leave', 'Disabled', 'Retired'],
      dtype=object)

gender

array(['F', 'M'], dtype=object)

location_code

array(['Suburban', 'Rural', 'Urban'], dtype=object)

marital_status

array(['Married', 'Single', 'Divorced'], dtype=object)

policy_type

array(['Corporate Auto', 'Personal Auto', 'Special Auto'], dtype=object)

policy

array(['Corporate L3', 'Personal L3', 'Corporate L2', 'Personal L1',
       'Special L2', 'Corporate L1', 'Personal L2', 'Special L1',
       'Special L3'], dtype=object)

renew_offer_type

array(['Offer1', 'Offer3', 'Offer2', 'Offer4'], dtype=object)

sales_channel

array(['Agent', 'Call Center', 'Web', 'Branch'], dtype=object)

vehicle_class

array(['Two-Door Car', 'Four-Door Car', 'SUV', 'Luxury SUV', 'Sports Car',
       'Luxury Car'], dtype=object)

vehicle_size

array(['Medsize', 'Small', 'Large'], dtype=object)

# 5. Check dtypes. Do they all make sense as categorical data?

In [8]:
categorical_df.dtypes

customer             object
state                object
response             object
coverage             object
education            object
effective_to_date    object
employmentstatus     object
gender               object
location_code        object
marital_status       object
policy_type          object
policy               object
renew_offer_type     object
sales_channel        object
vehicle_class        object
vehicle_size         object
dtype: object

The effective_to_date column does not make sense as categorical data since in future instances a vast amount of different values could be added, we drop it from the categorical dataframe.

In [9]:
categorical_df.drop('effective_to_date', inplace = True, axis = 1)

It would make sense to convert if to datetime format, but we already did that in the previous lab.

# 6. Does any column contain alpha and numeric data? 
Decide how to clean it.

The only numbers in the categorical data are in the customer and in the policy_type columns.
The customer values are all individual and the column can be dropped.
There is no reason to change anything at policy_type, if we would remove the numbers we couldn't differentiate the policies anymore.

In [10]:
categorical_df.drop('customer', inplace = True, axis = 1)
categorical_df.head(1)

,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,Washington,No,Basic,Bachelor,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize

# 7. Would you choose to do anything else to clean or wrangle the categorical data? 
Comment your decisions.

Since we don't have NaN's or a column with unnessesary data, or any apparent errors, I would decide, that apart from the summarizations in task 9 there is no more data cleaning to be done.

We can include the discrete numerical data into our categoricals, since the values tend to be more similar to categorical data.

# 8. Compare policy_type and policy. 
What information is contained in these columns. Can you identify what is important?

In [11]:
categorical_df['policy_type'].value_counts()

Personal Auto     6788
Corporate Auto    1968
Special Auto       378
Name: policy_type, dtype: int64

In [12]:
categorical_df['policy'].value_counts()

Personal L3     3426
Personal L2     2122
Personal L1     1240
Corporate L3    1014
Corporate L2     595
Corporate L1     359
Special L2       164
Special L3       148
Special L1        66
Name: policy, dtype: int64

In [13]:
# It looks like the coulmn  policy is a more granular version of policy_typ.
# We check this:
categorical_df[categorical_df['policy_type'] == 'Personal Auto']['policy'].value_counts()

Personal L3    3426
Personal L2    2122
Personal L1    1240
Name: policy, dtype: int64

In [14]:
categorical_df[categorical_df['policy_type'] == 'Special Auto']['policy'].value_counts()

Special L2    164
Special L3    148
Special L1     66
Name: policy, dtype: int64

In [15]:
# Our assumtion is correct, so we drop the policy_type column.
categorical_df.drop('policy_type', inplace = True, axis = 1)
categorical_df.head(1)

,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,Washington,No,Basic,Bachelor,Employed,F,Suburban,Married,Corporate L3,Offer1,Agent,Two-Door Car,Medsize

# 9.Check number of unique values in each column, can they be combined in any way to ease encoding? 
Comment your thoughts and make those changes.

In [16]:
for c in categorical_df.columns:
    print(c)
    display(categorical_df[c].value_counts())

state

California    3150
Oregon        2601
Arizona       1703
Nevada         882
Washington     798
Name: state, dtype: int64

response

No     7826
Yes    1308
Name: response, dtype: int64

coverage

Basic       5568
Extended    2742
Premium      824
Name: coverage, dtype: int64

education

Bachelor                2748
College                 2681
High School or Below    2622
Master                   741
Doctor                   342
Name: education, dtype: int64

employmentstatus

Employed         5698
Unemployed       2317
Medical Leave     432
Disabled          405
Retired           282
Name: employmentstatus, dtype: int64

gender

F    4658
M    4476
Name: gender, dtype: int64

location_code

Suburban    5779
Rural       1773
Urban       1582
Name: location_code, dtype: int64

marital_status

Married     5298
Single      2467
Divorced    1369
Name: marital_status, dtype: int64

policy

Personal L3     3426
Personal L2     2122
Personal L1     1240
Corporate L3    1014
Corporate L2     595
Corporate L1     359
Special L2       164
Special L3       148
Special L1        66
Name: policy, dtype: int64

renew_offer_type

Offer1    3752
Offer2    2926
Offer3    1432
Offer4    1024
Name: renew_offer_type, dtype: int64

sales_channel

Agent          3477
Branch         2567
Call Center    1765
Web            1325
Name: sales_channel, dtype: int64

vehicle_class

Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Sports Car        484
Luxury SUV        184
Luxury Car        163
Name: vehicle_class, dtype: int64

vehicle_size

Medsize    6424
Small      1764
Large       946
Name: vehicle_size, dtype: int64

In [17]:
# The States Wshington and Nevada have very few values. We aggregate them as 'others'.
categorical_df['state'] = categorical_df['state'].apply(lambda x: 'other' if x in ['Washington', 'Nevada'] else x)
categorical_df['state'].value_counts()

California    3150
Oregon        2601
Arizona       1703
other         1680
Name: state, dtype: int64

In [18]:
# For education we can summarize Master and Doctor as higher education
categorical_df['education'] = categorical_df['education'].apply(lambda x: 'higher education' if x in ['Master', 'Doctor'] else x)
categorical_df['education'].value_counts()

Bachelor                2748
College                 2681
High School or Below    2622
higher education        1083
Name: education, dtype: int64

In [19]:
# For employment_status we can summarize Medical Leave, Retired and Disabled as other        
categorical_df['employmentstatus'] = categorical_df['employmentstatus'].apply(lambda x: 'other' if x in ['Medical Leave', 'Retired', 'Disabled'] else x)
categorical_df['employmentstatus'].value_counts()

Employed      5698
Unemployed    2317
other         1119
Name: employmentstatus, dtype: int64

In [20]:
# In the column policy, we still have 6 categories.Some have few values, we simplify Corporate and Secial
# For employment_status we can summarize Medical Leave, Retired and Disabled as other
def pol_change(x):
    if 'Corporate' in x:
        return 'Corporate'
    elif 'Special' in x:
        return 'Special'
    else:
        return x

categorical_df['policy'] = categorical_df['policy'].apply(pol_change)
categorical_df['policy'].value_counts()

Personal L3    3426
Personal L2    2122
Corporate      1968
Personal L1    1240
Special         378
Name: policy, dtype: int64

In [21]:
# For vehicle_class we can summarize Sports Car, Luxury Car and Luxury SUV as Luxury Car    
categorical_df['vehicle_class'] = categorical_df['vehicle_class'].apply(lambda x: 'Luxury Car' if x in ['Luxury SUV', 'Sports Car'] else x)
categorical_df['vehicle_class'].value_counts()

Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Luxury Car        831
Name: vehicle_class, dtype: int64